.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button[name="submit"] {
  margin-top: 10px;
  font-size: 24px;
}

input {
  margin-left: 10px;
}

h3, p {
  margin-bottom: 2px;
}

ul {
  margin-top: 0;
}
